.git
.github
.cache
.pytest_cache
.ruff_cache
.mypy_cache
.venv
venv
env
__pycache__
*.py[cod]
*.log
.env
.env.*
!.env.example
.pypirc
deployment/secrets/*
!deployment/secrets/.gitignore
data/raw
data/interim
data/processed
models/trained/latest
mlflow.db
mlflow_fresh.db
notebooks/.ipynb_checkpoints
