# --- Infrastructure (Terraform) ---
TF_VAR_aws_region=ap-southeast-1
TF_VAR_eks_cluster_name=unique-pop-otter
TF_VAR_terraform_state_bucket=recsys-data-storage-067518243363-ap-southeast-1-an
TF_VAR_github_repo=repo:tlong-ds/recsys-group-project

# --- Application ---
RECSYS_API_KEYS=
VITE_RECSYS_API_KEY=
GRAFANA_ADMIN_PASSWORD=
DAGSHUB_USER_TOKEN=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
